################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarBuyAndSell/FileContentIndex/36e64da7-9646-4ed5-b7af-eb18e4b775ff.vsidx
